@using ManagementApp.Core.ViewModels.ApplicationUser
@model EditRecordInputModel

<div class="container">
    <div class="row">
        <div class="justify-content-center">
            <form asp-action="Edit" method="post" asp-antiforgery="true">
                <input asp-for="@Model.Id" type="hidden" />
                <div>
                    <label for="Title">First Name</label>
                    <input asp-for="@Model.FirstName" class="form-control" />
                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                </div>
                <div>
                    <label for="Title">Last Name</label>
                    <input asp-for="@Model.LastName" class="form-control" />
                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                </div>                
                <div>
                    <label asp-for="@Model.DepartmentId" class="form-label-add-edit">Select Department</label>
                    <div class="d-flex">
                        <select asp-for="@Model.DepartmentId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))">
                            <option value="">Select Department...</option>
                        </select>
                        <span asp-validation-for="@Model.DepartmentId" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <label asp-for="@Model.JobTitleId" class="form-label-add-edit">Select Job Title</label>
                    <div class="d-flex">
                        <select asp-for="@Model.JobTitleId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.JobTitles, "Id", "Name"))">
                            <option value="">Select Job Title...</option>
                        </select>
                        <span asp-validation-for="@Model.JobTitleId" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <label for="PublicationYear">Salary</label>
                    <input asp-for="@Model.Salary" class="form-control" />
                    <span asp-validation-for="@Model.Salary" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-custom mt-2">Save</button>
            </form>
        </div>
    </div>
</div>