@using ManagementApp.Core.ViewModels.Department
@model IEnumerable<DepartmentViewModel>

@{
	ViewData["Title"] = "Departments";
}

<div class="departments-container p-3 bg-white rounded shadow-sm">
	<!-- Add Department Button Row -->
	<div class="d-flex justify-content-end">
		<a class="btn btn-add btn-outline-dark"
		   style="height: 40px; width: 200px;" 
		   asp-action="Add" method="get">Add Department</a>
	</div>
</div>


	<!-- Scrollable Table -->
<div class="table-container">
	<table class="table table-striped">
		<table class="table table-striped table-bordered align-middle">
			<thead class="table-light sticky-top">
				<tr>
					<th>Department</th>
					<th>Employees Count</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var department in Model)
				{
					<tr id="row-@department.Id">
						<td>@department.Name</td>
						<td>@department.EmployeesCount</td>
						<td class="text-start">
							@if (department.IsDeleted == true)
							{
								<a id="include-btn-@department.Id" class="btn btn-include btn-outline-dark" style="height: 40px; width: 100px;"
								   onclick="includeDepartment('@department.Id')">Include</a>

								<a id="delete-btn-@department.Id" class="btn btn-hard-delete btn-outline-dark" style="height: 40px; width: 100px;"
								   onclick="deleteDepartment('@department.Id')">Delete</a>

								<a id="hard-delete-btn-@department.Id" class="btn btn-hard-delete btn-outline-dark" style="height: 40px; width: 200px; display: none"
								   onclick="hardDeleteDepartment('@department.Id')">Delete Permanently?</a>

								<a id="edit-btn-@department.Id" class="btn btn-custom btn-outline-dark" style="height: 40px; width: 100px; display: none"
								   asp-action="Edit" method="get" asp-route-id="@department.Id">Edit</a>

								<a id="remove-btn-@department.Id" class="btn btn-delete btn-outline-dark" style="height: 40px; width: 100px; display: none"
								   onclick="removeDepartment('@department.Id')">Remove</a>
							}
							else
							{
								<a id="include-btn-@department.Id" class="btn btn-include btn-outline-dark" style="height: 40px; width: 100px; display: none"
								   onclick="includeDepartment('@department.Id')">Include</a>

								<a id="delete-btn-@department.Id" class="btn btn-hard-delete btn-outline-dark" style="height: 40px; width: 100px; display: none"
								   onclick="deleteDepartment('@department.Id')">Delete</a>

								<a id="hard-delete-btn-@department.Id" class="btn btn-hard-delete btn-outline-dark" style="height: 40px; width: 200px; display: none"
								   onclick="hardDeleteDepartment('@department.Id')">Delete Permanently?</a>

								<a id="edit-btn-@department.Id" class="btn btn-custom btn-outline-dark" style="height: 40px; width: 100px;"
								   asp-action="Edit" method="get" asp-route-id="@department.Id">Edit</a>

								@if(department.EmployeesCount == 0)
								{
									<a id="remove-btn-@department.Id"  class="btn btn-delete btn-outline-dark" style="height: 40px; width: 100px;"
									onclick="removeDepartment('@department.Id')">Remove</a>
								}
							}													
						</td>
					</tr>
				}
			</tbody>
		</table>
	</table>
</div>

@section Scripts {
	<script>
		function removeDepartment(id) {
			$.ajax({
				url: `/api/departmentapi/remove/${id}`,
				method: 'POST',
				success: function () {
					const editButton = $(`#edit-btn-${id}`);
					const removeButton = $(`#remove-btn-${id}`);
					const includeButton = $(`#include-btn-${id}`);
					const deleteButton = $(`#delete-btn-${id}`);
					const hardDeleteButton = $(`#hard-delete-btn-${id}`);
					editButton.hide();
					removeButton.hide();
					includeButton.show();
					deleteButton.show();
					hardDeleteButton.hide();
				},
				error: function (xhr) {
					alert('Failed to remove department');
				}
			});
		}

		function includeDepartment(id) {
			$.ajax({
				url: `/api/departmentapi/include/${id}`,
				method: 'POST',
				success: function () {
					const editButton = $(`#edit-btn-${id}`);
					const removeButton = $(`#remove-btn-${id}`);
					const includeButton = $(`#include-btn-${id}`);
					const deleteButton = $(`#delete-btn-${id}`);
					const hardDeleteButton = $(`#hard-delete-btn-${id}`);
					editButton.show();
					removeButton.show();
					includeButton.hide();
					deleteButton.hide();
					hardDeleteButton.hide();
				},
				error: function (xhr) {
					alert('Failed to include department');
				}
			});
		}

		function deleteDepartment(id) {
			const editButton = $(`#edit-btn-${id}`);
			const removeButton = $(`#remove-btn-${id}`);
			const includeButton = $(`#include-btn-${id}`);
			const deleteButton = $(`#delete-btn-${id}`);
			const hardDeleteButton = $(`#hard-delete-btn-${id}`);
			editButton.hide();
			removeButton.hide();
			includeButton.show();
			deleteButton.hide();
			hardDeleteButton.show();
		}

		function hardDeleteDepartment(id) {
			$.ajax({
				url: `/api/departmentapi/delete/${id}`,
				method: 'DELETE',
				success: function () {
					const deleteRow = $(`#row-${id}`);
					deleteRow.remove();
				},
				error: function (xhr) {
					alert('Failed to delete department.');
				}
			});
		}
	</script>
}